@import "_basic";
@import "_mixin";

/* ルートページ */
.root {
  &-btns {
    height: 100vh;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    &__btn {
      font-size: 1.4rem;
      font-weight: bold;
      @include set-border(1px, solid, #333);
      @include centering;
      width: 81px;
      height: 40px;
      &.login {
        &:hover {
          background-color: #e3e7ea;
        }
      }
      &.register {
        background-color: #333;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

/* 新規登録＆ログイン画面 */
.auth {
  width: min(100%, 500px);
  margin: 50px auto 0;
  &__logo {
    width: min(100%, 300px);
    margin: 0 auto;
  }
  &-form {
    margin-top: 15px;
    &__item {
      margin-top: 5px;
    }
    .auth-form__item {
      &:last-child {
        margin-top: 20px;
      }
    }
    &__input {
      width: 100%;
      height: 60px;
      font-size: 1.6rem;
      padding: 0 1em;
      &::placeholder {
        font-weight: bold;
      }
    }
    &__submit {
      background-color: #a435f0;
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      border: none;
      height: 48px;
      cursor: pointer;
      width: 100%;
      &:hover {
        background-color: #8710d8;
      }
    }
    &__err {
      font-size: 1.2rem;
      font-weight: bold;
      li {
        color: #ff4000;
      }
    }
    &__link {
      font-size: 1.4rem;
      width: fit-content;
      margin: 20px auto 0;
      &.no-margin {
        margin: 0 auto;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* ヘッダー */
.header {
  background-color: #f3f2f2;
  padding: 10px 0;
  &__inner {
    align-items: center;
    justify-content: space-between;
    h1 {
      width: 120px;
    }
    nav {
      &.flex {
        font-size: 14px;
        column-gap: 15px;
        form {
          font-size: inherit;
        }
      }
    }
  }
}

/* ダッシュボード */
.dsbd-menus {
  width: min(100%, 850px);
  margin: 50px auto 0;
  justify-content: space-between;
  row-gap: 30px;
  &__item {
    width: 45%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 10px;
    h2 {
      font-size: 20px;
    }
    ul {
      font-size: 16px;
      li {
        &:last-child {
          margin-top: 5px;
        }
        a {
          width: fit-content;
          text-decoration: underline;
        }
      }
    }
  }
}

/* 基本テーブル */
.table {
  border-collapse: collapse;
  &-wrap {
    width: min(100%, 1000px);
    margin: 50px auto 0;
  }
  &__header {
    font-size: 20px;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    a {
      background-color: #a435f0;
      color: #fff;
      width: 120px;
      text-align: center;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  td {
    font-size: 16px;
    border: 1px solid #333;
    padding: 0.5em;
    &.heading {
      background-color: #b0c4df;
      font-weight: bold;
    }
  }
}

/* ページネーション */
.pagination {
  width: min(100%, 1000px);
  margin: 30px auto;
  justify-content: center;
  font-size: 14px;
  column-gap: 15px;
  li {
    border: 1px solid #b0c4df;
    padding: 0.1em 0.5em;
    &.active {
      background-color: #b0c4df;
      color: #fff;
    }
  }
}
