@import "_basic";
@import "_mixin";

/* ルートページ */
.root {
  &-btns {
    height: 100vh;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    &__btn {
      font-size: 1.4rem;
      font-weight: bold;
      @include set-border(1px, solid, #333);
      @include centering;
      width: 81px;
      height: 40px;
      &.login {
        &:hover {
          background-color: #e3e7ea;
        }
      }
      &.register {
        background-color: #333;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

/* 新規登録＆ログイン画面 */
.auth {
  width: min(100%, 500px);
  margin: 50px auto 0;
  &__logo {
    width: min(100%, 300px);
    margin: 0 auto;
  }
  &-form {
    margin-top: 15px;
    &__item {
      margin-top: 5px;
    }
    .auth-form__item {
      &:last-child {
        margin-top: 20px;
      }
    }
    &__input {
      width: 100%;
      height: 60px;
      font-size: 1.6rem;
      padding: 0 1em;
      &::placeholder {
        font-weight: bold;
      }
    }
    &__submit {
      background-color: #a435f0;
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      border: none;
      height: 48px;
      cursor: pointer;
      width: 100%;
      &:hover {
        background-color: #8710d8;
      }
    }
    &__err {
      font-size: 1.2rem;
      font-weight: bold;
      li {
        color: #ff4000;
      }
    }
    &__link {
      font-size: 1.4rem;
      width: fit-content;
      margin: 20px auto 0;
      &.no-margin {
        margin: 0 auto;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* ヘッダー */
.header {
  background-color: #f3f2f2;
  padding: 10px 0;
  &__inner {
    align-items: center;
    justify-content: space-between;
    h1 {
      width: 120px;
    }
    nav {
      &.flex {
        font-size: 1.4rem;
        column-gap: 15px;
        form {
          font-size: inherit;
        }
      }
    }
  }
}

/* ダッシュボード */
.dsbd-menus {
  width: min(100%, 850px);
  margin: 50px auto 0;
  justify-content: space-between;
  row-gap: 30px;
  &__item {
    width: 45%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 10px;
    h2 {
      font-size: 2rem;
    }
    ul {
      font-size: 1.6rem;
      li {
        &:last-child {
          margin-top: 5px;
        }
        a {
          width: fit-content;
          text-decoration: underline;
        }
      }
    }
  }
}

/* 基本テーブル */
.table {
  border-collapse: collapse;
  min-width: 900px;
  &-wrap {
    width: min(100%, 1000px);
    margin: 50px auto 0;
  }
  &__header {
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    h2 {
      font-size: 2rem;
    }
    a {
      background-color: #a435f0;
      color: #fff;
      width: 120px;
      text-align: center;
      font-size: 1.6rem;
      @include centering;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &-area {
    width: 100%;
    overflow-x: auto;
  }
  td {
    font-size: 1.6rem;
    border: 1px solid #333;
    padding: 0.5em;
    &.heading {
      background-color: #b0c4df;
      font-weight: bold;
    }
    a {
      width: fit-content;
      &:hover {
        text-decoration: underline;
      }
      &.btn {
        color: #fff;
        font-weight: bold;
        width: 60px;
        transition: all 0.3s;
        text-align: center;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
        &.show {
          background-color: #009f3d;
        }
        &.purchase {
          background-color: #ff6c39;
        }
      }
    }
    &.flex {
      column-gap: 15px;
    }
  }
}

/* 詳細テーブル */
.detail-table {
  width: min(100%, 500px);
  margin: 50px auto 0;
  border-collapse: collapse;
  caption {
    font-size: 20px;
  }
  tr {
    border-bottom: 1px solid #333;
  }
  td {
    font-size: 1.6rem;
    padding: 0.5em 0;
    &[colspan="2"] {
      div {
        &.flex {
          column-gap: 15px;
          padding: 10px 0;
        }
      }
    }
  }
  &__btn {
    color: #fff;
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    @include centering;
    &:hover {
      opacity: 0.8;
    }
    &.edit {
      background-color: #a435f0;
    }
    &.destroy {
      background-color: #ff4000;
      border: none;
      cursor: pointer;
    }
    &.back {
      background-color: #4c4e4d;
    }
  }
}

/* ページネーション */
.pagination {
  width: min(100%, 1000px);
  margin: 30px auto;
  justify-content: center;
  font-size: 1.4rem;
  column-gap: 15px;
  li {
    border: 1px solid #b0c4df;
    padding: 0.1em 0.5em;
    cursor: pointer;
    &.current {
      background-color: #b0c4df;
      color: #fff;
      pointer-events: none;
    }
    &.disabled {
      display: none;
    }
  }
}

/* 基本フォーム */
.form {
  @include set-border(1px, solid, #f7f5f4);
  padding: 15px 20px 40px;
  &-wrap {
    width: min(100%, 500px);
    margin: 50px auto 0;
  }
  &__heading {
    background-color: #3a9adc;
    color: #fff;
    font-size: 2rem;
    padding: 0.5em 0 0.5em 1em;
  }
  &__def {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1em 0;
    dd {
      margin-left: 20px;
    }
  }
  &__item {
    margin-top: 15px;
  }
  &__input {
    &--text,
    &--button,
    &--number {
      width: 100%;
      height: 35px;
      font-size: 1.6rem;
      padding: 0 1em;
    }
    &--text {
      &:focus {
        @include set-border(2px, solid, #3a9adc);
      }
      &::placeholder {
        font-weight: bold;
      }
    }
    &--button {
      background-color: #3a9adc;
      color: #fff;
      border: none;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__select {
    font-size: 1.6rem;
    height: 35px;
  }
  &__label {
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
  }
  &__textarea {
    resize: none;
    width: 100%;
    font-size: 1.4rem;
    padding: 1em;
  }
  &__link {
    font-size: 1.4rem;
    width: fit-content;
    margin: 20px auto;
    text-decoration: underline;
  }
}

/* フラッシュメッセージ */
.flash-msg {
  &--success {
    background-color: #dff0d8;
    font-size: 1.4rem;
    padding: 1em;
    color: #4b8352;
  }
}

/* バリデーションエラーメッセージ */
.err-msg {
  color: #ff4000;
  font-size: 12px;
}

/* 検索 */
.search-area {
  display: flex;
  margin-bottom: 10px;
  font-size: 1.6rem;
  input {
    &[type="text"] {
      padding: 0.1em 0.5em;
    }
    &[type="button"] {
      width: 35px;
      @include set-border(1px, solid, #333);
      border-radius: 5px;
      background: url("../../public/img/ico01.webp") no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }
  }
}
